div class="mainContainer">
  <div #loginBox class="loginContainer">
    <div class="heading">Login</div>
    <form #loginForm = "ngForm" (ngSubmit)="formSubmit()">
      <div>
        <mat-form-field appearance="outline" class="email">
          <mat-label>Enter email</mat-label>
          <input #email type="email" name="email" matInput required [(ngModel)]="user.email"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="password">
          <mat-label>Enter Password</mat-label>
          <input #password type="password" name="password" placeholder="" matInput required [(ngModel)]="user.password"/>
        </mat-form-field>
      </div>
      <button
        #loginButton
        class="loginButton"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
      <p class="signupText">
        New User?
        <a routerLink="signup" #signupLink class="signupLink">Sign Up</a>
      </p>
    </form>
  </div>
</div>
